<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header>
    <ion-toolbar>
      <ion-title >Informacion de usuario</ion-title>
    </ion-toolbar>
  </ion-header>



<form #form="ngForm" (ngSubmit)="presentAlert(form)" action="" method="post" enctype="text/plain">
  <div>
    <label for="">Nombre: </label> <input type="text" name="nombre" ngModel id="">
  </div>
  <div>
<label for="">Apellido: </label>  <input type="text" name="apellido" ngModel id="">
</div>
<div><label for="">Fecha de nacimiento: </label>  <input type="date" name="" id=""></div>
<div><label for="">Nivel educacional: </label>  <input type="text" name="" id=""></div>
<br>
<input type="Reset" value="Borrar todo">  <ion-button type="submit">Click Me</ion-button>
</form>



</ion-content>

